.headerLogo {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 34px;
  color: #121212 !important;
  margin-right: 18%;
  margin-left: 5%;
}

.navBar {
  background: #f3f3f3;
}

@media screen and (max-width: 960px) {
  .headerLogo {
    margin-left: 0;
    font-size: 24px;
  }
}

.callUs {
  border: 1px solid #121212;

  padding: 8px 24px;
  box-shadow: -3px 2px 1px #838383;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #8792a7 !important;
  margin-right: 5%;
}

.callUs:active {
  outline: none;
  box-shadow: none;
}

@media screen and (max-width: 992px) {
  .callUs {
    padding: 0px;
    box-shadow: none;
    border: none;

    font-size: 18px;
    line-height: 28px;
  }
}

.callUs:hover {
  background-color: #f3f3f3;
  outline: none;
  box-shadow: none;
}

.callUs:focus {
  background-color: #f3f3f3;
  outline: none;
  box-shadow: none;
}
